# Ignore all data files (but keep the folder structure)
data/*
!data/archive
!data/.gitkeep

# Python cache and compiled files
__pycache__/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

